dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0
}
dt {
  float: left;
  width: 20%;
  padding-right: 0.75em;
  margin: 0.5em 0 0.5em 0;
  font-weight: bold;
}
dd {
  float: left;
  width: 75%;
  padding: 0;
  margin: 0.5em 0 0.5em 0;
}